bin
!bin/empty
tools/fceux/*
!tools/fceux/README.md
tools/nessc/*
!tools/nessc/README.md
tools/nintendulatordx/*
!tools/nintendulatordx/README.md
tools/readnes3/*
!tools/readnes3/README.md
tools/uploader/*
!tools/uploader/README.md
tools/p8nes/*
!tools/p8nes/README.md
*.o
.vscode
levels/processed/*
!levels/processed/empty
graphics/processed/*
!graphics/processed/empty